@use "./vars";

.MyAccount {
  width: 100%;
  height: 100vh;
  /* Alinea el contenido al centro tanto horizontal como vertical */
  display: grid;
  place-items: center;
}
.MyAccount-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.MyAccount-form {
  display: flex;
  flex-direction: column;
}

.MyAccount-form div {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: var(--md);
  text-align: left;
  font-weight: 300;
  color: var(--very-light-pink);
  margin: 8px 0 32px 0;
}

.edit-button {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .MyAccount-form {
      height: 100%;
      justify-content: space-between;
  }
  .MyAccount-container {
      height: 100%;
  }
}