@use "./vars";

.Orders {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.Orders-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.Orders-content {
  display: flex;
  flex-direction: column;
}
.Cart {
  width: 360px;
  margin-top: 60px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
  bottom: auto;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 21px;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-top: 20px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 15px;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  color: var(--black);
  font-size: var(--md);
  font-weight: bold;
}
.order-cart {
  border-radius: 10px;
  background-color: var(--text-input-field);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  padding: 0 24px;
  margin: 32px 0 16px 0;
}
.order-cart p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order-cart p span:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
}
.order-cart p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
@media (max-width: 640px) {
  .Orders {
    height: auto;
  }
  .Cart {
    width: 100%;
  }
  .title-container {
    display: none;
  }
}
