@use './vars';


.login {
  width: 100%;
  height: 100vh;
  /* Alinea el contenido al centro tanto horizontal como vertical */
  display: grid;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}
.subtitle {
  color: var(--very-light-pink);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-image img {
    width: 60%;
}
.primary-button {
  background-color: var(--hospital-green);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--md);
  width: 100%;
  height: 48px;
  cursor: pointer;
}
.resend {
  font-size: var(--sm);
}
.resend span{
  color: var(--very-light-pink);
}
.resend a{
  color: var(--hospital-green);
  text-decoration: none;
}
@media (max-width: 640px) {
  .logo {
    display: block;
  }
}